* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
  html{
    cursor:url("../images/crosshairs.png"), auto;
  }
  body{
    font-family: 'Press Start 2P', cursive;
    background-color: lightblue;
  }
  #upperBar{
    width: 98.8%;
    height: 75px;
    background-color: black;
    display: inline-block;
    position: absolute;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    border-width: 5px;
    text-align: center;
    font-size: 20px;
    box-shadow: 17px 17px 8px rgba(0, 0, 0, 0.55);
  }
  .score{
    display: inline-block;
    background-color: white;
    width: 250px;
    height: 40px;
    position: relative;
    border: 2px solid grey;
    border-radius: 25px;
    margin-top: 15px;

  }
  .score1{
    float: left;

  }
  #player1Score{
    display: block;
    position: absolute;
    width: 250px;
    margin-left: 5px;
    text-align: center;
  }
  .score2{
    float: right;
  }
  #player2Score{
    display: block;
    position: absolute;
    width: 250px;
    margin-right: 5px;
    text-align: center;
  }
  #timeSlot{
    display: block;
    float:none;
    text-align: center;
    font-size: 20px;
    background-color: white;
    width: 120px;
    height: 40px;
    margin: 15px 46.25%;
    border: 2px solid grey;
    border-radius: 25px;
  }
  #timer{
    text-align: center;
    width: 120px;
  }
  #container {
    cursor:url("../images/crosshairs.png"), auto;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    position: relative;

  }
  div {
    position: absolute;
  }
  #welcome{
    margin: 12%;
    margin-left: 3%;
    color: white;
    display: block;
    top: 20%;
    left: 30%;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    border-width: 5px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.55);
  }
  #welcomeImg{
    border-radius: 20px;
  }
  #welcomeText{
    position: absolute;
    top: 200px;
    left: 20px;
    width: 100%;
  }
  #alertBox{
    margin: 12%;
    margin-left: 3%;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: black;
    display: block;
    top: 28%;
    left: 35%;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    border-width: 5px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.55);
  }
  #resetBox{
    margin: 12%;
    margin-left: -2%;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: black;
    display: block;
    top: 28%;
    left: 35%;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    border-width: 5px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.55);
  }
  #resetButton{
    font-size: 20px;
    background-color: grey;
    color: red;
    text-align: right;
    border-radius: 4px;
    border: 2px solid black;
    width: 125px;
    height: 50px;
    box-shadow: 4px 5px #4c4a4a;
    transform: scale(1, 1);
    transition: all 0.5s;
    cursor: pointer;
  }
  #resetButton:hover{
    transform: scale(1.5, 1.5)
  }
  .cloud{
    position: fixed;
    left: 100%;
    z-index: -10;
  }
  #grassUpper{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
  }
  #grassLower{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9997;
  }
  .grass img{
    max-width: 100%;
  }
  .duck{
    z-index: 9998;
  }
